/* ==========================================
   RESET
========================================== */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 14px;
}

body {
    font-family: var(--font-family);
    background: var(--color-bg);
    color: var(--color-text);
}

[hidden] {
    display: none !important;
}
